

<div class="comment" data-time="<%= comment.created_at.to_i %>">
  <strong><%= comment.commenter %></strong>
  <em>on <%= comment.created_at.to_s %> </em>


             <!--.strftime('%b %d, %Y at %I:%M %p') %>-->
  <%= simple_format comment.body %>
</div>