<%= form_for @article, :html => {:role => 'form'} do |f| %>
    <% if @article.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@article.errors.count, "error") %> prohibited
            this article from being saved:</h2>
          <ul>
            <% @article.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <div class="form-group">

      <%= f.label :title, :html=>{ class:"control-label"}%><br>
      <%= f.text_field :title %>
    </div>

    <p>
      <%= f.label :text %><br>
      <%= f.text_area( :text, rows: 20, class: "form-control articletextarea", style:"width:100%;max-width:100%", )  %>
    </p>

    <p>
      <%= f.submit class: "btn btn-default" %>
    </p>
<% end %>