<% title @article.title %>
<div id="article" data-id="<%= @article.id %>">
  <%= simple_format @article.text %>

  <p><%= link_to 'Back to Articles', articles_path %></p>
  <%= link_to 'Edit', edit_article_path %>

  <h3>Add a comment:</h3>
  <%= render 'comments/form'%>

  <% unless @article.comments.empty? %>
      <h2><%= pluralize(@article.comments.size, 'comment') %></h2>

      <div id="comments">
        <%= render @article.comments %>
      </div>
  <% end %>


</div>
